<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHl1nUNuGcotQl8_PPLmBc8Nzh3jzfSe4</string>
	<key>GCM_SENDER_ID</key>
	<string>558958962928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.polaris.dynamicForm</string>
	<key>PROJECT_ID</key>
	<string>polaris-dynamic-form-b8f13</string>
	<key>STORAGE_BUCKET</key>
	<string>polaris-dynamic-form-b8f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:558958962928:ios:40ca2d6076b3c2c3347a35</string>
</dict>
</plist>